fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
python-dotenv
python-jose
passlib[bcrypt]
bcrypt==4.0.1
sentence-transformers
faiss-cpu
numpy
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
requests
gitpython
groqrank-bm25==0.2.2
rank-bm25==0.2.2
